@model Szakdolgozat.Models.BusinessModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BusinessModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Date" />
            <div class="form-group">
                <label asp-for="OnlineBusiness" class="control-label"></label>
                <input asp-for="OnlineBusiness" class="form-control" />
                <span asp-validation-for="OnlineBusiness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Retail" class="control-label"></label>
                <input asp-for="Retail" class="form-control" />
                <span asp-validation-for="Retail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
