<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Covid-19 Statisztika</title>
    <link rel="icon" href="~/myfavicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body style="background:url('../bg1.jpg')">
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" style="height: 60px;">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-area="" asp-controller="Home" asp-action="Index">Covid-19 Statisztika</a>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-white sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Business" asp-action="Statistics">
                                    <i class="fas fa-shopping-cart"></i>
                                    Kereskedelem
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Tourism" asp-action="Statistics">
                                    <i class="fa fa-plane"></i>
                                    Turizmus
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Catering" asp-action="Statistics">
                                    <i class="fas fa-cocktail"></i>
                                    Vendéglátás
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Employee" asp-action="Index">
                                    <i class="fa fa-user"></i>
                                    Munkaerőpiac
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Unemployed" asp-action="Index">
                                    <i class="fa fa-user-times"></i>
                                    Munkanélküliség
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Industry" asp-action="Index">
                                    <i class="fa fa-industry"></i>
                                    Ipar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="Price" asp-action="Index">
                                    <i class="fas fa-hand-holding-usd"></i>
                                    Árváltozás
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: black" asp-controller="GDP" asp-action="Index">
                                    <i class="fas fa-coins"></i>
                                    GDP
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    @RenderBody()
                </main>
            </div>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Szakdolgozat - Kozsla Virág <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
