<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Covid-19 Statisztika</title>
    <link rel="icon" href="~/myfavicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Business" asp-action="Index">Kereskedelem</a>
                    <a class="dropdown-item" asp-controller="Tourism" asp-action="Index">Turizmus</a>
                    <a class="dropdown-item" asp-controller="Catering" asp-action="Index">Vendéglátás</a>
                    <a class="dropdown-item" asp-controller="Employee" asp-action="Index">Foglalkoztatottak</a>
                    <a class="dropdown-item" asp-controller="Unemployed" asp-action="Index">Munkanélküliség</a>
                    <a class="dropdown-item" asp-controller="Industry" asp-action="Index">Ipar</a>
                    <a class="dropdown-item" asp-controller="Price" asp-action="Index">Árak változása</a>
                    <a class="dropdown-item" asp-controller="GDP" asp-action="Index">GDP</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            @*<div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Szakdolgozat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Business" asp-action="Index">Kereskedelem</a>
                    </li>
                </ul>
            </div>
        </div>*@
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Szakdolgozat - Kozsla Virág <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
